.form-control {
  margin: 0.5rem 0;
}

.form-control label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.form-control input {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font: inherit;
  line-height: 1.5rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  background-color: transparent;
}

.form-control input:focus {
  outline: none;
  background: #fad0ec;
  border-color: #8b005d;
}

.form-control.isValid label {
  color: red;
}

.form-control.isValid input {
  border: 1px solid red;
  background-color: salmon;
}
