.container-categories {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-category {
  width: 30%;
  height: 300px;
  border: 1px solid black;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 7.5px 15px;
  overflow: hidden;
}

.container-category div:nth-child(4) {
  width: 50%;
  height: 300px;
  border: 1px solid black;
}

.container-category div:nth-child(5) {
  width: 50%;
  height: 300px;
  border: 1px solid black;
}

.container-category .bg-img img {
  /* Use filter to add blur effect */
  width: 100%;
  height: 100%;
}

.category-body-container {
  height: 90px;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: white;
  opacity: 0.7;
  position: absolute;
}

h2 {
  font-weight: bold;
  margin: 0 6px 0;
  font-size: 22px;
  color: #4a4a4a;
}

p {
  font-weight: lighter;
  font-size: 16px;
}
