.nav {
  width: 100%;
  padding: 5px 50px;
  background-color: #fad0ec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.nav div h3 {
  cursor: pointer;
}

.nav div h3:hover {
  color: #8b005d;
}
